

.container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #86c2e2, #f137d9); 
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;

}

.conteudo {
    margin-top: 8px;
    align-items: center;
    background: #e9ebec;
    border-radius: 10px;
    width: 500px;
    box-sizing: border-box;
    padding: 0 55px;
      
}

.formulario {
    text-align: left;

}

.titulo{
    font-size: 18px;
    font-weight: 600;

    padding: 20px 0 10px 0;
    box-sizing: border-box;

}
.entrada {
    width: 100%;
    padding: 10px;
    border: none;

}


.formulario, .entrar, .cadastro{
    font-weight: 100;
    font-size: 14px;
}

.senha-esquecida {
    text-align: right;
}

.botao {
    margin: 40px 0;
    border: none;
    background:linear-gradient(90deg, #86c2e2, #f137d9); 
    border-radius: 20px;
    width: 100%;
    padding: 15px;
    color: #e9ebec;
}